/*colors*/

$menuColor : #31bdce;
$IncorrectInputs : red;
/* CLASS FOR PAGE*/
.flex{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align:stretch;
  -ms-flex-align:stretch;
  align-items:stretch;
}
.error{
  padding: 10px 0;
  color: #cb0000;
}
.correct{
  padding: 10px 0;
  color: #6cd967;
}
.width-aside {
  width: 25%;
  float: left;
  box-sizing: border-box;
}
.form-group{
  margin: 15px auto;
  text-align: center;
  width: 300px;
  overflow: hidden;
}
textarea { overflow: auto; }
.form-item{
  border:1px solid $menuColor;
  border-radius: 5px;
  color: black;
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 25px;
  width: 100%;
  outline: none;
  resize: none;
}
.btn{
  &:hover{
    background-color: rgb(53,173,187);
    cursor: pointer;
  }
  float: right;
  background-color: $menuColor;
  text-align: center;
  width: 40%;
  border: 1px solid $menuColor;
  border-radius: 5px;
  color: white;
  padding: 10px 0;
  outline: none;
}
.active{
 color: #c9dcdf;;
}
.width-content {
  width: 75%;
  float: left;
  box-sizing: border-box;

}
.row {
  width: 100%;
}
.half-page {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

/*placeholders*/
.placeholderCorrect::-webkit-input-placeholder { /* Chrome */color: $menuColor;}
.placeholderCorrect:-ms-input-placeholder {/* IE 10+ */ color: $menuColor;}
.placeholderCorrect::-moz-placeholder { /* Firefox 19+ */color: $menuColor;}
.placeholderCorrect:-moz-placeholder { /* Firefox 4 - 18 */color: $menuColor;}

.placeholderIncorrect::-webkit-input-placeholder { /* Chrome */color: $IncorrectInputs;}
.placeholderIncorrect:-ms-input-placeholder {/* IE 10+ */color: $IncorrectInputs;}
.placeholderIncorrect::-moz-placeholder { /* Firefox 19+ */color: $IncorrectInputs;}
.placeholderIncorrect:-moz-placeholder{ /* Firefox 4 - 18 */color: $IncorrectInputs;}


/* Document Tree*/
body{
  font-size: 1em;
  font-family: 'Lato', sans-serif;

  div.wrapper{
    @extend .flex;
    section.half-page{
      min-height: 900px;
      header{
        nav.nav-bar{
          height: 100px;
          div.width-aside{
            box-sizing: border-box;
            height: inherit;
            padding: 1.4em 1.3em;
            img{
              width: 100%;
              height: 100%;
            }
          }
          div.width-content{
            background-color: rgb(49,189,206);
            ul{
              box-sizing: border-box;
              list-style-type: none;
              overflow: hidden;
              float: right;
              padding: 1.75em 3.75em 1.75em 0;
              li{
                font-size: 1.125em;
                padding: 10px 20px;
                float: left;
                a:hover{
                color: #c9dcdf;
                }
              }
            }
          }
        }
      }
      div.row{
        min-height: 800px;
        @extend .flex;
        section.width-aside{
          background-color: rgb(245,245,245);
        }
        section.width-content{

          padding:90px 10% 0 10%;
          article{
            h2.article{
              margin-bottom: 50px;
            }
            p.first-paragraf-article{
              font-size: 0.875em;
              margin-bottom: 35px;
            }
            p.second-paragraf-article{
              margin-bottom:25px;
            }
            ul{
              list-style-type: none;
              li{
                @extend .flex;
                text-indent: 0;
                margin-left: 20px;
                &:before{
                  display: block;
                  margin-right: 30px;
                  content:'\2022';
                  color: $menuColor;
                  float: left;
                  margin-top: 1em;
                  height: 100%;

                }
                margin-bottom: 25px;
              }
            }
          }
          footer{
            margin-top: 50px;
            margin-bottom: 25px;
            position: relative;
            p{
              color: white;
              text-align: center;

            }
          }
        }
      }

    }
    section.right-img{
      &.contact{
        background: url("../images/contact.jpg") center center no-repeat;
        background-size: cover;
      }
      background: url("../images/right-bar.jpg") center center no-repeat;
      background-size: cover;
    }


  }
}