/*colors*/
/* CLASS FOR PAGE*/
.flex, body div.wrapper, body div.wrapper section.half-page div.row, body div.wrapper section.half-page div.row section.width-content article ul li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.error {
  padding: 10px 0;
  color: #cb0000; }

.correct {
  padding: 10px 0;
  color: #6cd967; }

.width-aside {
  width: 25%;
  float: left;
  box-sizing: border-box; }

.form-group {
  margin: 15px auto;
  text-align: center;
  width: 300px;
  overflow: hidden; }

textarea {
  overflow: auto; }

.form-item {
  border: 1px solid #31bdce;
  border-radius: 5px;
  color: black;
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 25px;
  width: 100%;
  outline: none;
  resize: none; }

.btn {
  float: right;
  background-color: #31bdce;
  text-align: center;
  width: 40%;
  border: 1px solid #31bdce;
  border-radius: 5px;
  color: white;
  padding: 10px 0;
  outline: none; }
  .btn:hover {
    background-color: #35adbb;
    cursor: pointer; }

.active {
  color: #c9dcdf; }

.width-content {
  width: 75%;
  float: left;
  box-sizing: border-box; }

.row {
  width: 100%; }

.half-page {
  width: 50%;
  float: left;
  box-sizing: border-box; }

/*placeholders*/
.placeholderCorrect::-webkit-input-placeholder {
  /* Chrome */
  color: #31bdce; }

.placeholderCorrect:-ms-input-placeholder {
  /* IE 10+ */
  color: #31bdce; }

.placeholderCorrect::-moz-placeholder {
  /* Firefox 19+ */
  color: #31bdce; }

.placeholderCorrect:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #31bdce; }

.placeholderIncorrect::-webkit-input-placeholder {
  /* Chrome */
  color: red; }

.placeholderIncorrect:-ms-input-placeholder {
  /* IE 10+ */
  color: red; }

.placeholderIncorrect::-moz-placeholder {
  /* Firefox 19+ */
  color: red; }

.placeholderIncorrect:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: red; }

/* Document Tree*/
body {
  font-size: 1em;
  font-family: 'Lato', sans-serif; }
  body div.wrapper section.half-page {
    min-height: 900px; }
    body div.wrapper section.half-page header nav.nav-bar {
      height: 100px; }
      body div.wrapper section.half-page header nav.nav-bar div.width-aside {
        box-sizing: border-box;
        height: inherit;
        padding: 1.4em 1.3em; }
        body div.wrapper section.half-page header nav.nav-bar div.width-aside img {
          width: 100%;
          height: 100%; }
      body div.wrapper section.half-page header nav.nav-bar div.width-content {
        background-color: #31bdce; }
        body div.wrapper section.half-page header nav.nav-bar div.width-content ul {
          box-sizing: border-box;
          list-style-type: none;
          overflow: hidden;
          float: right;
          padding: 1.75em 3.75em 1.75em 0; }
          body div.wrapper section.half-page header nav.nav-bar div.width-content ul li {
            font-size: 1.125em;
            padding: 10px 20px;
            float: left; }
            body div.wrapper section.half-page header nav.nav-bar div.width-content ul li a:hover {
              color: #c9dcdf; }
    body div.wrapper section.half-page div.row {
      min-height: 800px; }
      body div.wrapper section.half-page div.row section.width-aside {
        background-color: whitesmoke; }
      body div.wrapper section.half-page div.row section.width-content {
        padding: 90px 10% 0 10%; }
        body div.wrapper section.half-page div.row section.width-content article h2.article {
          margin-bottom: 50px; }
        body div.wrapper section.half-page div.row section.width-content article p.first-paragraf-article {
          font-size: 0.875em;
          margin-bottom: 35px; }
        body div.wrapper section.half-page div.row section.width-content article p.second-paragraf-article {
          margin-bottom: 25px; }
        body div.wrapper section.half-page div.row section.width-content article ul {
          list-style-type: none; }
          body div.wrapper section.half-page div.row section.width-content article ul li {
            text-indent: 0;
            margin-left: 20px;
            margin-bottom: 25px; }
            body div.wrapper section.half-page div.row section.width-content article ul li:before {
              display: block;
              margin-right: 30px;
              content: '\2022';
              color: #31bdce;
              float: left;
              margin-top: 1em;
              height: 100%; }
        body div.wrapper section.half-page div.row section.width-content footer {
          margin-top: 50px;
          margin-bottom: 25px;
          position: relative; }
          body div.wrapper section.half-page div.row section.width-content footer p {
            color: white;
            text-align: center; }
  body div.wrapper section.right-img {
    background: url("../images/right-bar.jpg") center center no-repeat;
    background-size: cover; }
    body div.wrapper section.right-img.contact {
      background: url("../images/contact.jpg") center center no-repeat;
      background-size: cover; }

/*# sourceMappingURL=home.css.map */
