@media screen and (max-width: 1024px) {
  .hide-md {
    display: none;
  }
  .whole-page-md {
    width: 100%;
  }

}

@media screen and (min-height: 400px) and (max-width: 759px) {
  .hide-sm {
    display: none;
  }
  .whole-page-sm {
    width: 100%;
  }
  ul.nav-bar-mobile {
    width: 100%;
    li {
      clear: both;
      width: 100%;
      text-align: center;
    }
  }
}

  @media screen and (max-width: 399px) {
    .g-recaptcha {
      transform: scale(0.8);
      transform-origin: 0 0;
    }
  }

