<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>


    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/mediaQueries.css">


</head>
<body>
<div class="wrapper">
    <section class="half-page whole-page-md" id="right-side">
        {%include 'navBar.html'%}
        <div class="row" id="content">
            <section class="width-aside hide-sm" id="aside"></section>
            <section class="width-content whole-page-sm">
                <article>
                    <form method="post" action="" id="myForm">

                        <div class="form-group whole-page-sm">
                            <input class="form-item placeholderCorrect" data-validate="input" name="name" type="text" placeholder="Name*">
                        </div>
                        <div class="form-group whole-page-sm">
                            <input class="form-item placeholderCorrect" data-validate="input" name="mail" type="text" placeholder="E-mail*">
                        </div>
                        <div class="form-group whole-page-sm">
                            <input class="form-item placeholderCorrect" data-validate="input" name="phone" type="text" placeholder="Phone*">
                        </div>
                        <div class="form-group whole-page-sm">
                            <textarea class="form-item placeholderCorrect" data-validate="textarea" rows="6" name="message" placeholder="Message*"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6LfYtQcUAAAAAESghnxb51S7WLgmIiKm5rncNkPf"></div>
                        </div>
                        <div class="form-group whole-page-sm">
                            <button type="submit" class="btn">Send</button>
                            {%if flag=='true'%}
                            <p class="correct" style="color:green">{{communicate}}</p>
                            {%elseif flag=='false'%}
                            <p class="error">{{communicate}}</p>
                            {%endif%}
                        </div>
                    </form>
                </article>
                <footer>
                    <p>Copyright &copy; 2016</p>
                </footer>
            </section>
        </div>

    </section>
    <section class="half-page right-img hide-md contact"></section>
</div>
<script src="js/footerPosition.js"></script>
<script src="js/formValidate.js"></script>

</body>
</html>