<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>


    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/mediaQueries.css">

</head>
<body>

<div class="wrapper">
    <section class="half-page whole-page-md" id="right-side">
        {%include 'navBar.html'%}
        <div class="row" id="content">
            <section class="width-aside hide-sm" id="aside"></section>
            <section class="width-content whole-page-sm">
                <article>
                    <div>
                        <h2 class="article">Lorem Ipsum</h2>
                        <p class="first-paragraf-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit diam in odio fringilla mattis. Phasellus urna nunc, bibendum ac nisi id, malesuada imperdiet erat. Sed vel turpis interdum, feugiat metus sed, egestas erat. Sed sed magna risus. Duis in sodales metus. Sed venenatis malesuada mi, ultricies maximus metus cursus ut. Pellentesque eu enim sodales, dictum augue in, porttitor tellus. Sed sed blandit sem. Vestibulum nec bibendum felis. Maecenas ante velit, lobortis eu libero aliquet, pretium dignissim felis. Pellentesque et metus in velit pulvinar rutrum vel nec lacus. Ut pharetra pellentesque dolor, malesuada vehicula quam ullamcorper id. Fusce et eros velit. Sed eget lacinia sapien.</p>
                    </div>
                    <div>
                        <p class="second-paragraf-article">Aenean fringilla diam non tincidunt iaculis. Proin quam nibh, semper in erat ac, laoreet laoreet mauris. Proin hendrerit felis ac turpis vulputate, nec sagittis erat ultrices.</p>
                        <ul>
                            <li>
                                <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin venenatis lobortis pharetra.</span>
                            </li>
                            <li>
                                <span>Curabitur tellus nibh, aliquam at dolor vel, imperdiet convallis justo. Nullam sit amet odio blandit, accumsan justo eget, luctus arcu. Aenean eu nunc lobortis, rutrum nisl mollis, bibendum libero.</span>
                            </li>
                            <li>
                                <span>Nunc in lectus aliquam, cursus nibh vitae, volutpat urna. Fusce finibus finibus metus. Cras in porta lectus. Donec rhoncus ultricies ultrices. Pellentesque at purus sit amet nisl malesuada tempus. Aliquam vel justo fermentum, bibendum purus sed, viverra ex.</span>
                            </li>
                        </ul>
                    </div>
                </article>
                <footer>
                    <p>Copyright &copy; 2016</p>
                </footer>
            </section>

        </div>


    </section>
    <section class="half-page right-img hide-md"></section>
</div>
<script src="js/footerPosition.js"></script>
</body>
</html>