<header>
    <nav class="row nav-bar">
        <div class="width-aside brand hide-sm">
            <a href="#">
                <img src="images/quellio-logo.svg" alt="brand">
            </a>
        </div>
        <div class="width-content whole-page-sm">
            <ul class="nav-bar-mobile">
                <li>
                    {%if routing == 'home'%}
                    <a href="#" class="active">Home</a>
                    {%else%}
                    <a href="?action=home">Home</a>
                    {%endif%}
                </li>
                <li>
                    {%if routing == 'contact'%}
                    <a href="#" class="active">Contact</a>
                    {%else%}
                    <a href="?action=contact">Contact</a>
                    {%endif%}
                </li>
            </ul>
        </div>
    </nav>
</header>